In [ ]:
1. List any five functions of the pandas library with execution.

Pandas head() Function: This function is used to return the top n (5 by default) values of a data frame or series.
Pandas tail() Function: This method is used to return the bottom n (5 by default) rows of a data frame or series.
Pandas dtypes() Function: This method returns a Series with the data type of each column.
Pandas describe() Function: Returns descriptive statistics about the data like mean, minimum, maximum, standard deviation, etc.
Pandas unique() Function: It returns all the unique values in a particular column.

In [1]:
import pandas as p
var=(21,23,43,65,76,89,72,59,90,110)
lt = p.Series(var)

In [6]:
lt.head()

0    21
1    23
2    43
3    65
4    76
dtype: int64

In [7]:
lt.tail()

5     89
6     72
7     59
8     90
9    110
dtype: int64

In [9]:
lt.describe()

count     10.000000
mean      64.800000
std       29.089135
min       21.000000
25%       47.000000
50%       68.500000
75%       85.750000
max      110.000000
dtype: float64

In [10]:
lt.dtypes

dtype('int64')

In [4]:
lt.unique()

array([ 21,  23,  43,  65,  76,  89,  72,  59,  90, 110])

In [ ]:
2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [35]:
import pandas as pd 
data = [['Alice', 25, 'Female'],['Bob', 30, 'Male'],['Claire', 27, 'Female'],['Alisha',23,'Female'],['Shikha',27,'Female']]
indx=[0,1,2,3,4]
df = pd.DataFrame(data,index=indx,columns=['A', 'B', 'C'])
print('before re-indexing \n',df)
re_indx=[1,3,5,7,9]
nw_df=df.reindex(re_indx)
print('\n after re-indexing \n',nw_df)

before re-indexing
         A   B       C
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female
3  Alisha  23  Female
4  Shikha  27  Female

 after re-indexing
         A     B       C
1     Bob  30.0    Male
3  Alisha  23.0  Female
5     NaN   NaN     NaN
7     NaN   NaN     NaN
9     NaN   NaN     NaN

In [ ]:
3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [5]:
import pandas as pd
data=[10, 20, 30, 40, 50]
df = pd.DataFrame(data, columns=['Values'])
print(df)
sum = df['Values'][0:3].sum()
print('The sum of the first three values-', sum)

   Values
0      10
1      20
2      30
3      40
4      50
The sum of the first three values- 60

In [ ]:
4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd
data=['Shikha Sharma','Kumar','Karuni Kaushik','Vats']
df=pd.DataFrame(data,columns=['Text'])
df['Word_Count']=df['Text'].apply(lambda x: len(x.split()))
print(df)

             Text  Word_Count
0   Shikha Sharma           2
1           Kumar           1
2  Karuni Kaushik           2
3            Vats           1

In [ ]:
5. How are DataFrame.size() and DataFrame.shape() different?

The size() function returns the total number of elements in a DataFrame, while the shape() function 
returns a tuple of the number of rows and columns in the DataFrame.
For example, consider the following DataFrame:

In [4]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)
print('\n',df.size)
print(df.shape)

   A  B
0  1  4
1  2  5
2  3  6

 6
(3, 2)

In [ ]:
6. Which function of pandas do we use to read an excel file?

To read an excel file in pandas, we use the read_excel() function. This function takes the 
path to the excel file as an argument and returns a Pandas DataFrame object. The DataFrame 
object is a two-dimensional tabular data structure that is similar to an Excel spreadsheet.
The read_excel() function has a number of optional parameters that can be used to control 
how the data is read. For example, the sheet_name parameter can be used to specify the name
of the sheet in the excel file that we want to read. The header parameter can be used to 
specify whether or not the first row of the excel file contains column names.

Here is an example of how to use the read_excel() function to read an excel file:

In [ ]:
import pandas as pd

# Read the excel file into a Pandas DataFrame
df = pd.read_excel('path/to/file.xlsx')

# Display the DataFrame
print(df)

In [ ]:
This code will read the excel file at the specified path and print the DataFrame to the console.
The read_excel() function is a powerful tool for reading and manipulating data in excel files. 
It is a popular choice for data scientists and analysts who need to work with data in this format.

In [ ]:
7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [29]:
import pandas as pd
data = {'Email':['Alice12@rediffmail.com', 'Bob.joe@outlook.com','Claire.fox@gmail.com']}
df = pd.DataFrame(data)
df['Username']=df['Email'].str.split('@').str[0]
print(df)

                    Email    Username
0  Alice12@rediffmail.com     Alice12
1     Bob.joe@outlook.com     Bob.joe
2    Claire.fox@gmail.com  Claire.fox

In [ ]:
8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
2 6 9 4
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [70]:
import pandas as pd
data = [[3,5,1],[8,2,7],[6,9,4],[2,3,5],[9,1,2]]
df = pd.DataFrame(data,columns=['A','B','C'])
new_df = df[(df['A']>5) & (df['B']<10)]
print(df)
print('\n')
print(new_df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2


   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [7]:
9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [7]:
import pandas as pd
data={'Values':[23,45,41,78,56,90,56,83,98]}
df = pd.DataFrame(data)
print(df)

   Values
0      23
1      45
2      41
3      78
4      56
5      90
6      56
7      83
8      98

In [8]:
Mean = df.mean()
print(Mean)

Values    63.333333
dtype: float64

In [9]:
Median = df.median()
print(Median)

Values    56.0
dtype: float64

In [10]:
std_dev = df.std()
print(std_dev)

Values    25.209125
dtype: float64

In [ ]:
10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [36]:
import pandas as pd 
date = pd.date_range(start='2024-01-01', end='2024-01-07')
data={'Sales': [25000,20000,8500,56890,1200,34567,23890],'Date': date}
df = pd.DataFrame(data)
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
print(df)

   Sales       Date  MovingAverage
0  25000 2024-01-01   25000.000000
1  20000 2024-01-02   22500.000000
2   8500 2024-01-03   17833.333333
3  56890 2024-01-04   27597.500000
4   1200 2024-01-05   22318.000000
5  34567 2024-01-06   24359.500000
6  23890 2024-01-07   24292.428571

In [ ]:
11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [34]:
import pandas as pd

date = pd.date_range(start='2024-01-01', end='2024-01-05')
data = {'Date': date}
df = pd.DataFrame(data)
df['Weekday'] = df['Date'].dt.day_name()
print(df)

        Date    Weekday
0 2024-01-01     Monday
1 2024-01-02    Tuesday
2 2024-01-03  Wednesday
3 2024-01-04   Thursday
4 2024-01-05     Friday

In [ ]:
12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [46]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime objects
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define start and end dates for filtering
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Boolean indexing to select rows between start and end dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows
# Example usage:
# Assuming df is your DataFrame with a column 'Date'
# selected_rows = select_rows_between_dates(df)

In [47]:
select_rows_between_dates(df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

If we are using PIP, then run the below command to install pandas module.
pip install pandas

To import Pandas and NumPy in our Python script, add the below piece of code:
import pandas as pd
import numpy as np

As Pandas is dependent on the NumPy library, we need to import this dependency.